.Home {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: -1;
	padding-top: 30vh;
	background: linear-gradient(
			90deg,
			rgba(45, 45, 45, 1) 0%,
			rgba(45, 45, 45, 0) 70%
		),
		url('../imgs/Pizza.jpg') center/cover no-repeat;
	& h1 {
		font-family: 'IBM Plex Serif', 'Helvetica Neue';
		font-size: 3em;
	}
	& p {
		width: 100%;
		font-size: 1em;
		padding: 2em 0;
		@media screen and (min-width: 600px) {
			width: 55%;
		}
	}
	& button {
		margin-right: 1em;
	}
}
