h2 {
	padding: 1em 0;
}

select {
	color: white;
	font-size: 0.8em;
	background: tomato;
	background-image: url(../imgs/select-arrow.svg);
	background-repeat: no-repeat, repeat;
	background-position: calc(100% - 0.8em) center;
	background-size: 0.8em;
	border: none;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form {
	width: 100%;
	margin: 0;
	& select {
		width: 60%;
	}
	& input {
		width: 40%;
	}
}

.Food-flex {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;
	@media screen and (min-width: 600px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (min-width: 1000px) {
		grid-template-columns: repeat(6, 1fr);
	}
	& li {
		box-sizing: border-box;
		list-style: none;
		position: relative;
		background: #1d1d1d;
		overflow: hidden;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		& > span {
			display: block;
			box-sizing: border-box;
			text-align: center;
			padding: 0.4em 0;
			width: 100%;
			position: absolute;
			bottom: 0;
			background: rgba(29, 29, 29, 0.8);
		}
		& img {
			width: 100%;
			height: 10rem;
			-o-object-fit: cover;
			object-fit: cover;
		}
		& button {
			margin-top: auto;
			width: 100%;
			vertical-align: bottom;
		}
	}
}

.Menu-page-drinks {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1em;

	margin-bottom: 5rem;
	@media screen and (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
	& img {
		width: 100%;
		margin: 0;
		height: 10rem;
		-o-object-fit: cover;
		object-fit: cover;
		@media screen and (min-width: 600px) {
			height: 15rem;
		}
	}
}
