.Order-page {
	@media screen and (min-width: 640px) {
		display: flex;
	}
	& h1 {
		margin: 0;
	}
	& .Checkout {
		background: #1d1d1d;
		padding: 1rem;
		width: 100%;
		& span {
			font-weight: bold;
			display: block;
		}
		& .Order-message {
			color: white;
			font-size: 1em;
			margin-top: 1rem;
			background: tomato;
			border: none;
			font-weight: bold;
			padding: 1rem;
		}
		& button {
			width: 100%;
			margin-top: 1rem;
		}
	}
	& .Receipt {
		color: black;
		background-color: white;
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
		position: relative;
		margin-bottom: 1rem;
		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			& li {
				position: relative;
				margin: .5rem 0;
				& .Title {
					display: block;
					border-bottom: 3px dotted #000000;
					& + span {
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
			& ul {
				margin-left: 1rem;
			}
		}
	}
}

.Card-main {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(13, 13, 13, 0.8);
	top: 0;
	left: 0;
	text-align: center;
	& .Card-container {
		display: inline-flex;
		flex-direction: column;
		margin: 2rem auto;
		padding: 0 1rem;
		background-color: #2d2d2d;
		text-align: center;
		& button {
			padding: 0.4em 0.6em;
			margin: 1rem 0;
			font-size: 1em;
		}
		& .Card-input > div > div,
		.Name {
			border: none;
			border-radius: 0;
			height: 2.5rem;
			padding: 0.5em 0.5em;
			font-size: 1rem;
			outline: none;
		}
		& .Name {
			margin-top: 1rem;
		}
		& .Card-input > div > div:nth-child(2),
		.Name-error {
			color: tomato;
			font-size: 0.8em;
			margin: 0.2rem 0 0 0;
			padding: 0;
			height: inherit;
		}
	}
}
